<h1>Edit Recipe</h1>
<form method="post" action="/recipes/<%=@recipe.id%>"
  <input id="hidden" name="_method" value="PATCH">
  <p> <input type="text" name="" value="<%=@recipe.%>"></p>
  <p> <input type="text" name="" value="<%=@recipe.%>"></p>
  <p> <input type="text" name="" value="<%=@recipe.%>"></p>
</form> 
